@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
#weebly-footer-signup-container-v7798{
	padding-left: 15px;}
.weebly-footer-signup-container-v3{
	display:none;}
::-webkit-scrollbar {
	width: 10px;height: 25px;}
::-webkit-scrollbar-thumb {
	background: #000000;border: 3px solid #14171a;border-radius: 14px;}
::-webkit-scrollbar-thumb:hover {
	background: #0d0d0d;}
::-webkit-scrollbar-thumb:active {
	background: #0d0d0d;}
::-webkit-scrollbar-track {
	background: #14171a;}
::-webkit-scrollbar-track:hover {
	background: #14171a;}
*:focus {
	outline: none;}
*{
	user-select:none;font-family: 'Noto Sans JP'!important;}
body{
	color: rgb(255,255,255);font-family: 'Noto Sans JP', sans-serif;justify-content:center;text-align: center;background-color:rgb(14,17,20);margin:0;overflow-y: auto;overflow-x: hidden;}
h1{
	display: inline;padding:0 10px;margin: 0;}
nav{
    height:53px;background-color: rgb(14,17,20);padding: 2px 10px;text-decoration: none;margin: 0px -3px 3px;z-index:41 !important;border-bottom: 3px solid rgb(23,26,29);text-align:left;}
.logo{
	width:53px;height:53px;float:left;margin:0;padding:0;background-size: cover;background-image: url('./icon.svg');}
.navbutton {
	background-color: inherit;float: center;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;font-size: 17px;color:white;}
.navbutton:hover {
	background-color: rgb(23,26,29);border-radius:5px;}
.navbutton.active {
	background-color: rgb(24,27,30);border-radius:0px;}
.centerAll{
	display:flex;align-items: center;justify-content: center;width:100%;height:100%;z-index:40 !important;}
.st{
	font-family:'Noto Sans JP'; margin:0; padding:0; font-size:12px; color:rgb(190,190,190);}
.tab {
  	overflow: hidden;z-index:40 !important;}
.tab button {
	z-index:40;background-color: inherit;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;font-size: 17px;color:white;}
.tab button:hover {
	background-color: rgb(23,26,29);border-radius:5px;}
.tab button.active {
	background-color: rgb(24,27,30);border-radius:0px;}
.tabcontent {
	display: none;border-top: none;width:100%;z-index:40 !important;height:100%;}
.sidetab {
	z-index:40;background:none;width: 25%;overflow-y: auto;height:100%;}
.sidetab button {
	z-index:40;display: block;background: none;color:white;padding: 11px 8px;width: 100%;border: none;outline: none;text-align: center;cursor: pointer;transition: 0.3s;font-size: 17px;}
.sidetab button:hover {
	background-color: rgb(23,26,29);}
.sidetab button.active {
	background-color: rgb(24,27,30);}
.sidetabcontent {
	display:none;width: 75%;height: 100%; padding: 0 20px;background-color: rgb(17, 20, 23);text-align: left;overflow-y: auto;overflow-x: hidden;}
.sidetabcontent h3{
    text-align: center;}
.pHolder{
   	visibility: hidden;}
b{
    background-color: rgb(10,13,16);font-family: 'Courier New', Courier, monospace !important; padding: 2px;}
